[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cOde"]
	path = cOde
	url = https://github.com/dkaschek/code
[submodule "dMod"]
	path = dMod
	url = https://github.com/dkaschek/dmod
